@bgcolor: rgb(30, 30, 30);
@bgcolor-level-1: rgb(50, 50, 50);
@bgcolor-level-2: rgb(60, 60, 60);
@bgcolor-level-3: rgb(70, 70, 70);
@bgcolor-level-3: rgb(80, 80, 80);
@bgcolor-level-3: rgb(90, 90, 90);
@font: "微软雅黑" 13pt;
@font-big: "微软雅黑" 17pt;
@font-small: "微软雅黑" 9pt;
@font-title: "微软雅黑" 21pt;
@fore-color: #bbb;
